.nvs-wrapper-landscape{
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    left:0;
}
.nvs-wrapper-landscape [class*="span"] {
    float: none;
    min-height: 0;
    margin-left: 0;
}
.nvs-wrapper-portrait [class*="span"] {
    float: none;
    min-height: 0;
    margin-left: 0;
}
.nvs-wrapper-portrait{
    width:100%;
    overflow: hidden;
    position: relative;
    left:0;
    top:0;
    margin-bottom:-5px;
}
.nvs-li-elem{
    vertical-align: top;

    display: inline-block;
    overflow: hidden;
    white-space: normal;
    position: relative;

}
.nvs-ul{
    left:0;
    position: relative;
    list-style: none;
    padding: 0;
    margin:0;
}
.nvs-nav{
    text-align: center;
    font-family: Consolas;
    position: absolute;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.nvs-nav i{
    line-height: 30px;
    vertical-align: middle;
}

.nvs-nav-left{
    left:0px;
}

.nvs-nav-right{
    right:0px;
}
.ca-nav-up{
    top:0px;

}
.nvs-nav-down{
    bottom:0px;
}

.nvs-horizontal-navigation-arrow{
    width:30px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    background: #d2d2d2;
}
.nvs-vertical-navigation-arrow{
    height:30px;
    line-height: 30px;
    vertical-align: middle;
    width:60px;
    background: #d2d2d2;
}
.nvs-nav:hover{
    cursor: pointer;
}
/* themes */
.nvs-span-default{
    background: #fff;
    display: block;
    position: absolute;
    top:5px;
    bottom:5px;
    left:5px;
    right:5px;
    overflow: hidden;
    color:#333;


}
.nvs-wrapper-gallery{
    background:#000;
    border:3px solid #000;
    border-left:none;
    border-right:none;
}

.clrfix:before,
.clrfix:after {
    content:"";
    display:table;
}
.clrfix:after {
    clear:both;
}
.clrfix{
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}